h1{
  color: white;

}
body{
  background-color: white;
}
p{
  color: white;
  
  } 
  article.thumb {
    border: 5px solid lightpink;
    font-family: 'Pacifico', cursive;
}

#main .thumb > h2 {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
     bottom: auto; 
    /*font-size: 0.8em;*/
     left: auto; 
    margin: 0;
    position: absolute;
    z-index: 1;
    text-align: center;
    width: 100%;
    top: 50%;
    font-size: 40px;
    color: #b30077;
}

